<!DOCTYPE html>
<html xmlns:th="http://×××w.thymeleaf.org"
      xmlns:layout="http://×××w.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: header}">
</head>
<script src="js/nest/account.js"></script>
<body>

<div class="container">
    <form id="adsForm">
        <div class="row">

            <div class="col-3 mt-4">
                <div class="input-group">
                    <span class="input-group-text">Seed</span>
                    <select name="seedId" class="selectpicker form-control" data-live-search="true">
                        <option data-tokens="请选择" text="请选择" value="">请选择</option>
                        <th:block th:each="seed, iterStat: ${seedList}">
                            <option th:data-tokens="${seed.seedPrefix}"
                                    th:text="${seed.seedPrefix}"
                                    th:value="${seed.id}" th:selected="${seed.id} == ${seedId}"></option>
                        </th:block>
                    </select>
                </div>
            </div>


            <div class="col-3 mt-4">
                <div class="input-group">
                    <span class="input-group-text">HD序列</span>
                    <input name="startHDIndex" class="form-control" placeholder="1" aria-label="start"
                           aria-describedby="basic-addon1" value="1">
                    <input name="endHDIndex" class="form-control" placeholder="2000" aria-label="end"
                           aria-describedby="basic-addon1" value="2000">
                </div>
            </div>

            <div class="col-4 mt-4">
                <div class="input-group">
                    <span class="input-group-text">地址</span>
                    <input name="address" class="form-control" placeholder="地址" aria-label="start"
                           aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-2 mt-3">
                <div class="input-group">
                    <button type="button" class="btn btn-primary m-2" id="search">查询</button>
                </div>
            </div>
        </div>

    </form>
    <br>
    <br>
    <div class="row">

        <div class="col-12">
            <table id="accountList" class="stripe" style="font-size: 12px">
                <thead>
                <tr>
                    <th><input type="checkbox" name="select_all" value="1" class="example-select-all"></th>
                    <th>种子</th>
                    <th>地址</th>
                    <th>类型</th>
                    <th>hd_index</th>
                    <th>创建时间</th>
                    <th>修改时间</th>
                </tr>5
                </thead>

            </table>
        </div>

    </div>



</div>
<script>


</script>
<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>