<!DOCTYPE html>
<html xmlns:th="http://×××w.thymeleaf.org"
      xmlns:layout="http://×××w.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: header}">
</head>
<script src="js/nest/airdropItem.js"></script>
<body>

<div class="container">
    <form id="searchForm">
        <div class="row">
            <div class="col-3 mt-4">

                <div class="input-group">
                    <span class="input-group-text">空投项目</span>
                    <select id="airdropId" name="airdropId" class="selectpicker form-control"
                            data-live-search="true">
                        <option data-tokens="请选择" text="请选择" value="">请选择</option>
                        <th:block th:each="airdrop: ${airdropList}">
                            <option th:data-tokens="${airdrop.name}"
                                    th:text="${airdrop.name}"
                                    th:value="${airdrop.id}" th:selected="${airdrop.id} == ${airdropId}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="col-3 mt-4">
                <div class="input-group">
                    <span class="input-group-text">空投序列</span>
                    <input name="startSequence" class="form-control" placeholder="0" aria-label="start"
                           aria-describedby="basic-addon1" value="1">
                    <input name="endSequence" class="form-control" placeholder="10000" aria-label="end"
                           aria-describedby="basic-addon1" value="10000">
                </div>
            </div>
            <div class="col-3 mt-4">
                <div class="input-group">
                    <span class="input-group-text">Seed</span>
                    <select name="seedId" class="selectpicker form-control" data-live-search="true">
                        <option data-tokens="请选择" text="请选择" value="">请选择</option>
                        <th:block th:each="seed, iterStat: ${seedList}">
                            <option th:data-tokens="${seed.seedPrefix}"
                                    th:text="${seed.seedPrefix}"
                                    th:value="${seed.id}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="col-3 mt-4">
                <div class="input-group">
                    <span class="input-group-text">充值币种</span>
                    <select name="tokenId" class="selectpicker form-control" data-live-search="true">
                        <option data-tokens="请选择" text="请选择" value="">请选择</option>
                        <th:block th:each="tokenMeta: ${tokenMetaList}">
                            <option th:data-tokens="${tokenMeta.chainName} + '链---' + ${tokenMeta.tokenName}"
                                    th:text="${tokenMeta.chainName} + '链---' + ${tokenMeta.tokenName}"
                                    th:value="${tokenMeta.id}"></option>
                        </th:block>
                    </select>
                </div>
            </div>


        </div>
        <div class="row">


            <div class="col-3 mt-4">
                <div class="input-group">
                    <span class="input-group-text">ads账号</span>
                    <select name="adsUserName" class="selectpicker form-control" data-live-search="true">
                        <option data-tokens="请选择" text="请选择" value="">请选择</option>
                        <option data-tokens="Apumpkinpie-笔记本" text="Apumpkinpie-笔记本" value="Apumpkinpie">
                            Apumpkinpie-笔记本
                        </option>
                        <option data-tokens="1723425825-台式机" text="1723425825-台式机" value="1723425825">1723425825-台式机
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-3 mt-4">
                <div class="input-group">
                    <span class="input-group-text">ads浏览器</span>
                    <input name="adsStartSequence" class="form-control" placeholder="起始序号" aria-label="start"
                           aria-describedby="basic-addon1">
                    <input name="adsEndSequence" class="form-control" placeholder="结束序号" aria-label="end"
                           aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="col-3 mt-4">
                <div class="input-group">
                    <span class="input-group-text">ads钱包位置</span>
                    <input name="adsBrowserWalletIndex" class="form-control" placeholder="2-10" aria-label="start"
                           aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="col-3 mt-4">
                <div class="input-group">
                    <span class="input-group-text">地址</span>
                    <input name="address" class="form-control" placeholder="地址" aria-label="start"
                           aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-3 mt-4">
                <div class="input-group">
                    <span class="input-group-text">galaxyId</span>
                    <input name="galaxyId" class="form-control" placeholder="galaxyId" aria-label="start"
                           aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-3 mt-4">
                <div class="input-group">
                    <span class="input-group-text">序列列表</span>
                    <input name="sequenceList" class="form-control" placeholder="2000" aria-label="end"
                           aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-3 mt-4">
                <div class="input-group">
                    <span class="input-group-text">twitter</span>
                    <textarea  name="searchTwitter" class="form-control" rows="2" placeholder="twitter账号,换行"
                               aria-describedby="basic-addon1" value=""></textarea>
                </div>
            </div>
            <div class="col-1 mt-3">
                <div class="input-group">
                    <button type="button" class="btn btn-primary m-2" id="search">查询</button>
                </div>
            </div>

        </div>

    </form>
    <br>
    <br>
    <div class="row">

        <div class="col-12">
            <table id="airdropItemList" class="stripe" style="font-size: 12px">
                <thead>
                <tr>
                    <th><input type="checkbox" name="select_all" value="1" class="example-select-all"></th>
                    <th>地址</th>
                    <th>序列</th>
                    <th>种子</th>
                    <th>hd_index</th>
                    <th>交易所</th>
                    <th>交易所-用户</th>
                    <th>交易所-账户序列</th>
                    <th>链</th>
                    <th>币种</th>
                    <th>交易所-充值地址</th>
                    <th>IP服务商</th>
                    <th>IP代理序号</th>
                    <th>IP代理</th>
                    <th>别名邮箱类目</th>
                    <th>别名邮箱</th>
                    <th>别名邮箱序号</th>
                    <th>ads用户</th>
                    <th>ads浏览器序号</th>
                    <th>cairoVersion</th>
                    <th>discordName</th>
                    <th>discord序号</th>
                    <th>twitterName</th>
                    <th>twitter序号</th>
                    <th>云服务器IP</th>
                    <th>购买交易所账号</th>
                    <th>购买交易所密码</th>
                    <th>galxeId</th>
                    <th>创建时间</th>
                    <th>修改时间</th>
                </tr>
                </thead>

            </table>
        </div>

    </div>

    <div class="row">
        <div class="col-6 mt-5">
            <div class="form-group">
                <label for="ipProxyConnectText">IP信息</label>
                <textarea class="form-control rounded-0" id="ipProxyConnectText" rows="14"></textarea>
            </div>
        </div>

        <div class="col-6 mt-5">
            <div class="form-group">
                <label for="twitterConnectText">地址</label>
                <textarea class="form-control rounded-0" id="twitterConnectText" rows="14"></textarea>
            </div>
        </div>
    </div>
</div>
<script>


</script>
<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>