<!DOCTYPE html>
<html xmlns:th="http://×××w.thymeleaf.org"
      xmlns:layout="http://×××w.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: header}">
</head>
<script src="js/nest/protocol.js"></script>
<body>

<div class="container">
    <form id="addForm">
        <div class="row">

            <div class="col-3 mt-4">
                <div class="input-group">
                    <span class="input-group-text">名称</span>
                    <input name="name" class="form-control" placeholder="名称"
                           aria-describedby="basic-addon1" value="">
                </div>
            </div>
            <div class="col-3 mt-4">
                <div class="input-group">
                    <span class="input-group-text">网站</span>
                    <input name="website" class="form-control" placeholder="网站"
                           aria-describedby="basic-addon1" value="">
                </div>
            </div>
            <div class="col-3 mt-4">
                <div class="input-group">
                    <span class="input-group-text">github</span>
                    <input name="github" class="form-control" placeholder="github"
                           aria-describedby="basic-addon1" value="">
                </div>
            </div>

            <div class="col-3 mt-4">
                <div class="input-group">
                    <span class="input-group-text">discord</span>
                    <input name="discord" class="form-control" placeholder="discord"
                           aria-describedby="basic-addon1" value="">
                </div>
            </div>
            <div class="col-3 mt-4">
                <div class="input-group">
                    <span class="input-group-text">twitter</span>
                    <input name="twitter" class="form-control" placeholder="twitter"
                           aria-describedby="basic-addon1" value="">
                </div>

            </div>

            <div class="col-6 mt-3">
                <div class="input-group">
                    <button type="button" class="btn btn-primary m-2" id="search">查询</button>
<!--                    <button type="button" class="btn btn-success m-2" id="add">添加</button>-->
                    <button type="button" class="btn btn-danger m-2" id="delete">删除</button>
<!--                    <button type="button" class="btn btn-outline-dark m-2" id="import">导入</button>-->
<!--                    <button type="button" class="btn btn-outline-dark m-2" id="export">导出</button>-->
                </div>
            </div>

        </div>

    </form>
    <br>
    <br>
    <div class="row">
        <div class="col-12">
            <table id="protocolList" class="stripe" style="font-size: 12px">
                <thead>
                <tr>
                    <th><input type="checkbox" name="select_all" value="1" class="example-select-all"></th>
                    <th>协议名称</th>
                    <th>网站</th>
                    <th>github</th>
                    <th>discord</th>
                    <th>twitter</th>
                    <th>创建时间</th>
                    <th>修改时间</th>
                    <th>操作</th>
                </tr>
                </thead>

            </table>
        </div>

    </div>


</div>

<div class="modal fade " id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content  ">
            <div class="modal-header ">
                <h5 class="modal-title">编辑</h5>
            </div>

            <div class="modal-body" style="font-size:xx-small">
                <form id="editForm">
                    <div class="row">
                        <div class="col-6 mt-4 prototype">
                            <div class="input-group">
                                <span class="input-group-text">ID</span>
                                <input name="id" class="form-control" readonly
                                       aria-label="start"
                                       aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-6 mt-4">
                            <div class="input-group">
                                <span class="input-group-text">名称</span>
                                <input name="name" class="form-control" placeholder="名称"
                                       aria-describedby="basic-addon1" value="">
                            </div>
                        </div>
                        <div class="col-6 mt-4">
                            <div class="input-group">
                                <span class="input-group-text">网站</span>
                                <input name="website" class="form-control" placeholder="网站"
                                       aria-describedby="basic-addon1" value="">
                            </div>
                        </div>
                        <div class="col-6 mt-4">
                            <div class="input-group">
                                <span class="input-group-text">github</span>
                                <input name="github" class="form-control" placeholder="github"
                                       aria-describedby="basic-addon1" value="">
                            </div>
                        </div>

                        <div class="col-6 mt-4">
                            <div class="input-group">
                                <span class="input-group-text">discord</span>
                                <input name="discord" class="form-control" placeholder="discord"
                                       aria-describedby="basic-addon1" value="">
                            </div>
                        </div>
                        <div class="col-6 mt-4">
                            <div class="input-group">
                                <span class="input-group-text">twitter</span>
                                <input name="twitter" class="form-control" placeholder="twitter"
                                       aria-describedby="basic-addon1" value="">
                            </div>

                        </div>
                        <div class="col-6 mt-4">
                            <div class="input-group">
                                <span class="input-group-text">gasPrice因子</span>
                                <input name="gasPriceFactor" class="form-control" placeholder="gasPrice因子"
                                       aria-describedby="basic-addon1" value="">
                            </div>

                        </div>
                        <div class="col-6 mt-4">
                            <div class="input-group">
                                <span class="input-group-text">gasLimit因子</span>
                                <input name="gasLimitFactor" class="form-control" placeholder="gasLimit因子"
                                       aria-describedby="basic-addon1" value="">
                            </div>

                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <div class="input-group">
                        <button type="button" class="btn btn-primary m-2" id="update">更新</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="protocolExportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content  ">
            <div class="modal-header ">
                <h5 class="modal-title">导出协议</h5>
            </div>

            <div class="modal-body" style="font-size:xx-small">
                <form id="protocolExportForm">
                    <div class="row">

                        <div class="col-12 mt-4">
                            <div class="input-group">
                                <span class="input-group-text">协议-JSON</span>
                                <textarea id="protocolExportJSON" class="form-control"
                                          aria-describedby="basic-addon1" value="" rows="15"></textarea>
                            </div>

                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer d-flex justify-content-end">
                <button type="button" class="btn btn-primary m-2" id="copyProtocolExport">复制</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade " id="protocolImportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content  ">
            <div class="modal-header ">
                <h5 class="modal-title">导入协议</h5>
            </div>

            <div class="modal-body" style="font-size:xx-small">
                <form id="protocolImportForm">
                    <div class="row">

                        <div class="col-12 mt-4">
                            <div class="input-group">
                                <span class="input-group-text">协议-JSON</span>
                                <textarea id="protocolImportJSON" class="form-control"
                                          aria-describedby="basic-addon1" rows="10"></textarea>
                            </div>

                        </div>
                    </div>
                </form>

                <div class="modal-footer d-flex justify-content-end">
                    <button type="button" class="btn btn-primary m-2" id="importProtocol">导入</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>


</script>
<div th:replace="~{fragments/footer :: footer}">...</div>

</body>
</html>