<!-- src/main/resources/mapper/ContractInstanceSnapshotMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nest.diamond.mapper.ContractInstanceSnapshotMapper">

    <select id="search" resultType="com.nest.diamond.model.domain.ContractInstanceSnapshot">
        SELECT * FROM contract_instance_snapshot
        <where>
            <if test="workOrderNo != null and workOrderNo != ''">
                and work_order_no = #{workOrderNo}
            </if>
            <if test="protocolName != null and protocolName != ''">
                and protocol_name = #{protocolName}
            </if>
            <if test="contractName != null and contractName != ''">
                and contract_name = #{contractName}
            </if>
            <if test="chainName != null and chainName != ''">
                and chain_name = #{chainName}
            </if>
            <if test="address != null and address != ''">
                and address like concat('%', #{address}, '%')
            </if>

        </where>
        ORDER BY id DESC
    </select>
</mapper>