<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nest.diamond.mapper.SeedMapper">

    <select id="search" resultType="com.nest.diamond.model.domain.Seed" parameterType="hashmap">
        select * from seed
        <where>
            <if test="seedPrefix != null">
                and seed_prefix = #{seedPrefix}
            </if>
            <if test="walletVendor != null">
                and wallet_vendor = #{walletVendor}
            </if>
            <if test="walletGenerateType != null">
                and wallet_generate_type = #{walletGenerateType}
            </if>
        </where>
    </select>
</mapper>