<!-- src/main/resources/mapper/SignatureLogMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nest.diamond.mapper.SignatureLogMapper">

    <select id="search" resultType="com.nest.diamond.model.domain.SignatureLog">
        SELECT * FROM signature_log
        <where>
            <if test="ticketNo != null and ticketNo != ''">
                AND ticket_no = #{ticketNo}
            </if>
            <if test="signAddress != null and signAddress != ''">
                AND sign_address = #{signAddress}
            </if>
            <if test="bizOrderNo != null and bizOrderNo != ''">
                AND biz_order_no = #{bizOrderNo}
            </if>

            <if test="airdropOperationName != null and airdropOperationName != ''">
                AND airdrop_operation_name = #{airdropOperationName}
            </if>
            <if test="contractAddress != null and contractAddress != ''">
                AND contract_address = #{contractAddress}
            </if>
            <if test="chainId != null">
                AND chain_id = #{chainId}
            </if>
            <if test="signType != null">
                AND sign_type = #{signType}
            </if>
        </where>
        ORDER BY sign_time DESC
    </select>
</mapper>