<!-- src/main/resources/mapper/WorkOrderMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nest.diamond.mapper.WorkOrderMapper">

    <select id="search" resultType="com.nest.diamond.model.domain.WorkOrder">
        SELECT * FROM work_order
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="workOrderNo != null and workOrderNo != ''">
                AND work_order_no = #{workOrderNo}
            </if>
            <if test="airdropId != null">
                AND airdrop_id = #{airdropId}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="createTimeBegin != null">
                AND create_time >= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null">
                AND create_time &lt;= #{createTimeEnd}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>
</mapper>